@charset "utf-8";
/* SIS style  */
/*reset */


body html{
	margin:0;
	padding:0;
}
#sis_container{
	
	width:760px;
	margin:auto;
}

.doc{
	color:#999;
	font-weight:bold;
	font-size:48.0pt;
}
 span{
    color:white;
	
}
 a:link{
	 color:#F66;
	 
	 }
a:visited{
	color:#f66;
	}
a:hover{
	color:#666;
	
}